#es-rc #es-rc-content {
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  font-weight: 300;
  line-height: 1.2;
  max-width: 980px;
  margin: 0 auto;
  padding: 0;
  overflow: hidden;
  color: #ffffff;
  background: #1aa0cb;
}
#es-rc #es-rc-content * {
  box-sizing: border-box;
}
#es-rc #es-rc-content p {
  margin: 0;
}
#es-rc #es-rc-content h2,
#es-rc #es-rc-content h3,
#es-rc #es-rc-content h4,
#es-rc #es-rc-content h5 {
  margin: 0;
  padding: 0;
  font-family: "Montserrat", sans-serif;
}
#es-rc #es-rc-content .es-title {
  max-width: 350px;
  margin: 0 auto;
  padding-top: 25px;
  padding-bottom: 25px;
  text-align: center;
  font-size: 25px;
  font-weight: 300;
}
#es-rc #es-rc-content .es-title span {
  font-weight: 600;
}
#es-rc #es-rc-content .es-kv__title-wrapper {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
}
#es-rc #es-rc-content .es-kv__title-wrapper--2 {
  display: none;
}
#es-rc #es-rc-content .es-kv__title-wrapper::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #1aa0cb;
  opacity: 0.7;
  z-index: 1;
}
#es-rc #es-rc-content .es-kv__title {
  padding-top: 10px;
  padding-bottom: 10px;
  font-weight: 600;
  font-size: 18px;
  text-align: center;
  animation: slidedown 0.2s ease-in;
  position: relative;
  z-index: 2;
}
#es-rc #es-rc-content .es-kv__title--desktop {
  display: none;
}
#es-rc #es-rc-content .es-kv__title--uppercase {
  text-transform: uppercase;
}
#es-rc #es-rc-content .es-kv__content {
  position: relative;
}
#es-rc #es-rc-content .es-kv__logo {
  position: absolute;
  top: 0;
  left: auto;
  right: 0;
}
#es-rc #es-rc-content .es-kv__photo {
  background: url(../images/photo.png) no-repeat center center;
  min-height: 351px;
  background-size: cover;
}
#es-rc #es-rc-content .es-kv__packshot-img {
  position: absolute;
  max-width: 100%;
  display: block;
  margin: 0 auto;
  bottom: 23.5%;
  right: 3%;
  animation: slideleft 0.4s;
}
#es-rc #es-rc-content .es-kv__packshot-img--desktop {
  display: none;
}
#es-rc #es-rc-content .es-kv__bubbles {
  display: none;
}
#es-rc #es-rc-content .es-kv__logo-img {
  max-width: 100%;
  display: block;
  margin: 0 auto;
  max-width: 45%;
  margin-left: auto;
  margin-right: 0;
}
#es-rc #es-rc-content .es-effects__item-wrapper {
  padding-bottom: 20px;
  padding-left: 5px;
  padding-right: 5px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
#es-rc #es-rc-content .es-effects__item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 5px;
}
#es-rc #es-rc-content .es-effects__img {
  animation: pulse2 1s infinite;
}
#es-rc #es-rc-content .es-effects__text {
  text-align: center;
}
#es-rc #es-rc-content .es-effects__photo-img {
  max-width: 100%;
  display: block;
  margin: 0 auto;
}
#es-rc #es-rc-content .es-ba__wrapper {
  position: relative;
  max-width: 450px;
  margin: 0 auto;
}
#es-rc #es-rc-content .es-ba__subtitle {
  position: absolute;
  width: 100%;
  background-size: cover;
  display: flex;
  justify-content: space-between;
  top: 0;
}
#es-rc #es-rc-content .es-ba__img {
  max-width: 100%;
  display: block;
  margin: 0 auto;
  width: 100%;
}
#es-rc #es-rc-content .es-ba__text {
  padding: 10px 20px;
  font-weight: 700;
  font-size: 16px;
  text-transform: uppercase;
  color: #fff;
  animation: pulse2 1s infinite;
}
#es-rc #es-rc-content .es-ingredients {
  position: relative;
}
#es-rc #es-rc-content .es-ingredients__image {
  position: relative;
  max-width: 300px;
  margin: 0 auto;
}
#es-rc #es-rc-content .es-ingredients__image-img {
  max-width: 100%;
  display: block;
  margin: 0 auto;
  padding-top: 150px;
  padding-bottom: 50px;
}
#es-rc #es-rc-content .es-ingredients__image-line--4 {
  margin-left: 40px;
  margin-bottom: 10px;
}
#es-rc #es-rc-content .es-ingredients__image-item {
  position: absolute;
  top: 0;
  left: 0;
}
#es-rc #es-rc-content .es-ingredients__image-item--1 {
  left: 7%;
  top: 4%;
}
#es-rc #es-rc-content .es-ingredients__image-item--2 {
  top: 23%;
  left: 20%;
}
#es-rc #es-rc-content .es-ingredients__image-item--3 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  top: 10%;
  right: 7%;
  left: auto;
}
#es-rc #es-rc-content .es-ingredients__image-item--4 {
  display: flex;
  flex-direction: column-reverse;
  justify-content: center;
  align-items: center;
  bottom: 10%;
  left: 10%;
  top: auto;
}
#es-rc #es-rc-content .es-ingredients__list {
  background-color: #ffffff;
  display: flex;
  max-height: 0;
  overflow: hidden;
  flex-direction: column;
  justify-content: center;
  gap: 15px;
  color: #044b72;
  position: relative;
}
#es-rc #es-rc-content .es-ingredients__list.open {
  padding: 30px 10px;
  max-height: 1000px;
  position: relative;
}
#es-rc #es-rc-content .es-ingredients__item-title {
  margin-bottom: 10px;
  font-weight: 700;
  font-size: 18px;
  text-transform: uppercase;
  text-align: center;
}
#es-rc #es-rc-content .es-ingredients__item-description {
  font-weight: 500;
  font-size: 16px;
  text-align: center;
}
#es-rc #es-rc-content .es-ingredients__image-item-title {
  font-weight: 700;
  font-size: 18px;
  text-transform: uppercase;
  text-align: center;
  animation: pulse2 3s infinite;
}
#es-rc #es-rc-content .es-ingredients__image-item-title--4 {
  margin-left: -30px;
}
#es-rc #es-rc-content .es-ingredients__expand {
  bottom: -47px;
  padding-top: 15px;
  padding-bottom: 15px;
  padding-right: 10px;
  width: 100%;
  position: absolute;
  font-weight: 500;
  font-size: 14px;
  text-transform: uppercase;
  text-align: right;
  cursor: pointer;
  background-color: #ffffff;
  color: #044b72;
}
#es-rc #es-rc-content .es-ingredients__expand--text {
  animation: pulse2 1s infinite;
  display: inline-block;
}
#es-rc #es-rc-content .es-ingredients__reduce {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
  top: 10px;
  right: 10px;
  position: absolute;
  font-weight: 500;
  font-size: 14px;
  text-transform: uppercase;
  text-align: center;
  cursor: pointer;
  animation: pulse2 1s infinite;
}
#es-rc #es-rc-content .es-cross__circle.active + .es-cross__line {
  opacity: 1;
}
#es-rc #es-rc-content .es-cross {
  padding-top: 30px;
}
#es-rc #es-rc-content .es-cross__subtitle {
  margin-bottom: 30px;
  font-weight: 400;
  font-size: 16px;
  text-align: center;
}
#es-rc #es-rc-content .es-cross__img {
  max-width: 100%;
  display: block;
  margin: 0 auto;
}
#es-rc #es-rc-content .es-cross__numbers {
  margin-top: -30px;
  position: relative;
  display: flex;
  justify-content: space-around;
  padding-bottom: 150px;
}
#es-rc #es-rc-content .es-cross__numbers::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 175px;
  background-color: white;
}
#es-rc #es-rc-content .es-cross__circle-wrapper {
  position: relative;
  z-index: 2;
}
#es-rc #es-rc-content .es-cross__line {
  position: absolute;
  top: 88%;
  left: 50%;
  width: 2px;
  height: 50px;
  background-color: #044b72;
  transform: translateX(-50%);
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
}
#es-rc #es-rc-content .es-cross__circle--1.active {
  opacity: 1;
}
#es-rc #es-rc-content .es-cross__product {
  position: absolute;
  display: inline-block;
  top: 50%;
  left: 0;
  font-weight: 700;
  font-size: 16px;
  color: #044b72;
  text-align: center;
  padding-top: 10px;
  z-index: 10;
}
#es-rc #es-rc-content .es-cross__circle {
  cursor: pointer;
  position: relative;
}
#es-rc #es-rc-content .es-slider {
  position: relative;
  background: #ffffff;
  padding-bottom: 50px;
}
#es-rc #es-rc-content .es-slider__content {
  max-width: 315px;
  margin: 0 auto;
  margin: 0 auto;
}
#es-rc #es-rc-content .es-slider__image-group {
  position: relative;
  margin: 0 auto;
}
#es-rc #es-rc-content .es-slider__group {
  border: 1px solid #1aa0cb;
  overflow: hidden;
}
#es-rc #es-rc-content .es-slider__group:nth-of-type(2) {
  border-top: none;
}
#es-rc #es-rc-content .es-slider__group:nth-of-type(3) {
  border-top: none;
}
#es-rc #es-rc-content .es-slider__image-title {
  max-width: 150px;
  position: absolute;
  top: 50%;
  left: 8%;
  transform: translate(-10%, -50%);
  font-weight: 700;
  font-size: 16px;
  text-transform: uppercase;
  text-align: center;
  color: #044b72;
}
#es-rc #es-rc-content .es-slider__title {
  padding-top: 5px;
  padding-bottom: 5px;
  font-weight: 700;
  font-size: 16px;
  text-transform: uppercase;
  text-align: center;
  background-color: #1aa0cb;
}
#es-rc #es-rc-content .es-slider__description {
  min-height: 145px;
  padding: 15px 10px;
  font-weight: 500;
  font-size: 16px;
  text-align: center;
  background-color: #ffffff;
  color: #044b72;
}
#es-rc #es-rc-content .es-slider__description:nth-of-type(2) {
  min-height: 0;
}
#es-rc #es-rc-content .es-slider__sup {
  vertical-align: top;
  font-size: 12px;
}
#es-rc #es-rc-content .es-slider__link {
  display: block;
  margin: 0 auto;
  margin-top: 15px;
  max-width: 300px;
  padding: 15px 30px;
  text-decoration: none;
  font-weight: 700;
  font-size: 16px;
  text-transform: uppercase;
  text-align: center;
  color: #ffffff;
  background-color: #044b72;
}
#es-rc #es-rc-content .es-slider__image {
  max-width: 100%;
  display: block;
  margin: 0 auto;
  margin-bottom: 20px;
}
#es-rc #es-rc-content .es-disclaimer {
  padding-bottom: 50px;
  font-weight: 500;
  font-size: 8px;
  text-align: center;
  background: #ffffff;
  color: #044b72;
}
#es-rc #es-rc-content .es-disclaimer__logo {
  max-width: 100%;
  display: block;
  margin: 0 auto;
  margin-top: 50px;
}
#es-rc #es-rc-content .es-footer {
  padding-top: 40px;
  padding-bottom: 40px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 30px;
  background-color: #137334;
}
#es-rc #es-rc-content .es-footer__img {
  max-width: 100%;
  display: block;
  margin: 0 auto;
}
#es-rc #es-rc-content .swiper,
#es-rc #es-rc-content .swiper-wrapper,
#es-rc #es-rc-content .swiper-slide {
  width: 100%;
  height: auto;
}
#es-rc #es-rc-content .swiper-pagination-bullet {
  width: 8px;
  height: 8px;
  display: inline-block;
  border-radius: 50%;
  background: #c69da3;
  opacity: 50%;
}
#es-rc #es-rc-content .swiper-pagination-bullet:not(:last-child) {
  margin-right: 6px;
}
#es-rc #es-rc-content .swiper-pagination-bullet-active {
  opacity: 1;
  background: #c69da3;
}
#es-rc #es-rc-content .swiper-button-next:after,
#es-rc #es-rc-content .swiper-button-prev:after {
  display: none;
}
#es-rc #es-rc-content .swiper-button-prev img {
  transform: rotate(180deg);
}
#es-rc #es-rc-content .swiper-pagination {
  position: absolute;
  bottom: 25px;
  text-align: center;
  transition: 0.3s opacity;
  transform: translate3d(0, 0, 0);
  z-index: 10;
}
#es-rc #es-rc-content .swiper-button-next,
#es-rc #es-rc-content .swiper-button-prev {
  position: absolute;
  top: 20%;
  width: 30px;
}
#es-rc #es-rc-content .swiper-button-next {
  right: 2%;
}
#es-rc #es-rc-content .swiper-button-prev {
  left: 2%;
}
#es-rc #es-rc-content .swiper-button-prev.swiper-button-disabled,
#es-rc #es-rc-content .swiper-button-next.swiper-button-disabled {
  display: none;
}
#es-rc #es-rc-content .swiper-pagination-bullet {
  background: #044b72;
}
#es-rc #es-rc-content .swiper-pagination-bullet-active {
  background: #044b72 !important;
}
@media screen and (min-width: 400px) {
  #es-rc #es-rc-content .es-kv__packshot-img {
    right: 7%;
  }
}
@media screen and (min-width: 567px) {
  #es-rc #es-rc-content .es-title {
    max-width: 90%;
    font-size: 30px;
  }
  #es-rc #es-rc-content .es-kv__photo {
    min-height: 577px;
  }
  #es-rc #es-rc-content .es-kv__logo-img {
    width: 251px;
    max-width: 100%;
  }
  #es-rc #es-rc-content .es-kv__packshot-img {
    display: none;
    width: 150px;
    bottom: 15%;
  }
  #es-rc #es-rc-content .es-kv__packshot-img--desktop {
    display: block;
    animation: pulse2 1s infinite;
  }
  #es-rc #es-rc-content .es-effects__item-wrapper {
    padding-top: 50px;
    flex-direction: row;
  }
  #es-rc #es-rc-content .es-effects__item {
    max-width: 300px;
  }
  #es-rc #es-rc-content .es-effects__text {
    min-height: 100px;
    font-size: 18px;
  }
  #es-rc #es-rc-content .es-ingredients__item-title {
    font-size: 20px;
  }
  #es-rc #es-rc-content .es-ingredients__description {
    font-size: 18px;
  }
  #es-rc #es-rc-content .es-cross__subtitle {
    font-size: 18px;
  }
  #es-rc #es-rc-content .es-cross__numbers {
    max-width: 400px;
    margin-left: auto;
    margin-right: auto;
  }
  #es-rc #es-rc-content .es-slider__title {
    margin-top: 0;
    font-size: 18px;
  }
  #es-rc #es-rc-content .es-slider__content {
    background: #ffffff;
  }
  #es-rc #es-rc-content .es-slider__description {
    font-size: 18px;
  }
}
@media screen and (min-width: 768px) {
  #es-rc #es-rc-content .es-title {
    max-width: 70%;
    font-size: 40px;
  }
  #es-rc #es-rc-content .es-slider__title {
    max-width: 100%;
  }
  #es-rc #es-rc-content .es-kv {
    position: relative;
    background: linear-gradient(to bottom, #82bde4, #eaf9ff);
  }
  #es-rc #es-rc-content .es-kv__title {
    top: 0;
    left: 0;
    padding-left: 15px;
    text-align: left;
    background: none;
    z-index: 1;
    color: #ffffff;
    font-size: 16px;
  }
  #es-rc #es-rc-content .es-kv__title--mobile {
    display: none;
  }
  #es-rc #es-rc-content .es-kv__title--desktop {
    display: inline-block;
  }
  #es-rc #es-rc-content .es-kv__title-wrapper {
    display: inline-block;
    top: 0;
    bottom: auto;
    width: 55%;
  }
  #es-rc #es-rc-content .es-kv__title-wrapper--1 {
    top: 3%;
    width: 40%;
  }
  #es-rc #es-rc-content .es-kv__title-wrapper--2 {
    top: 17%;
    width: 50%;
  }
  #es-rc #es-rc-content .es-kv__bubbles {
    display: none;
  }
  #es-rc #es-rc-content .es-kv__packshot-img {
    width: 185px;
    right: 29%;
    top: 25%;
    animation: pulse2 2s infinite;
  }
  #es-rc #es-rc-content .es-kv__photo {
    background: url(../images/photo-2.png) no-repeat center center;
    background-size: cover;
    height: 450px;
    min-height: 0;
  }
  #es-rc #es-rc-content .es-effects {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  #es-rc #es-rc-content .es-effects__wrapper {
    width: 40%;
  }
  #es-rc #es-rc-content .es-effects__group {
    width: 60%;
  }
  #es-rc #es-rc-content .es-effects__item-wrapper {
    gap: 50px;
  }
  #es-rc #es-rc-content .es-effects__item {
    max-width: 240px;
  }
  #es-rc #es-rc-content .es-effects__item:hover {
    transition: all 0.3s;
    transform: scale(1.1);
  }
  #es-rc #es-rc-content .es-effects__text {
    font-size: 20px;
  }
  #es-rc #es-rc-content .es-effects__text:hover {
    transition: all 0.3s;
  }
  #es-rc #es-rc-content .es-effects__text:hover {
    transform: scale(1.1);
  }
  #es-rc #es-rc-content .es-ingredients__wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 10px;
    padding-right: 10px;
  }
  #es-rc #es-rc-content .es-ingredients__image {
    width: 50%;
  }
  #es-rc #es-rc-content .es-ingredients__list {
    width: 50%;
    height: auto;
    max-height: -moz-fit-content;
    max-height: fit-content;
    padding: 30px 10px;
  }
  #es-rc #es-rc-content .es-ingredients__expand {
    display: none;
  }
  #es-rc #es-rc-content .es-ingredients__reduce {
    display: none;
  }
  #es-rc #es-rc-content .es-cross__title {
    margin-top: 0;
  }
  #es-rc #es-rc-content .es-cross__subtitle {
    font-size: 20px;
  }
  #es-rc #es-rc-content .es-footer {
    flex-direction: row;
    padding-top: 10px;
    padding-bottom: 10px;
  }
  #es-rc #es-rc-content .es-cross__products-group {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
  }
  #es-rc #es-rc-content .es-cross__wrapper {
    width: 60%;
    margin-right: -10px;
  }
  #es-rc #es-rc-content .es-cross__products-title-group {
    width: 40%;
  }
  #es-rc #es-rc-content .es-cross__numbers {
    background: inherit;
    -moz-column-gap: 35px;
    column-gap: 35px;
  }
  #es-rc #es-rc-content .es-cross__numbers::after {
    display: none;
  }
  #es-rc #es-rc-content .es-cross__product {
    background-color: inherit;
  }
  #es-rc #es-rc-content .es-cross .es-slider {
    background: #1aa0cb;
  }
  #es-rc #es-rc-content .es-cross .es-slider__title {
    font-size: 18px;
  }
  #es-rc #es-rc-content .es-cross .es-slider__content {
    display: flex;
    align-items: center;
    width: 100%;
    max-width: 95%;
    gap: 20px;
    background: none;
  }
  #es-rc #es-rc-content .es-cross .es-slider__image-group {
    width: 40%;
  }
  #es-rc #es-rc-content .es-cross .es-slider__text-group {
    width: 60%;
  }
  #es-rc #es-rc-content .es-cross .es-slider__image {
    margin-bottom: 0;
  }
  #es-rc #es-rc-content .es-cross .es-slider__image-title {
    left: 12%;
    max-width: 185px;
    font-size: 19px;
  }
  #es-rc #es-rc-content .es-cross .es-slider__link {
    padding-top: 15px;
    border: 1px solid #1aa0cb;
    border-top: 0;
    max-width: 100%;
  }
  #es-rc #es-rc-content .es-disclaimer {
    font-size: 8px;
    padding-top: 30px;
    padding-bottom: 30px;
  }
  #es-rc #es-rc-content .es-disclaimer__logo {
    margin-top: 30px;
    transition: all 0.3s;
  }
  #es-rc #es-rc-content .es-disclaimer__logo:hover {
    transform: scale(1.1);
  }
  #es-rc #es-rc-content .swiper-button-next {
    right: -0.5%;
    top: 50%;
    animation: pulse2 1s infinite;
  }
  #es-rc #es-rc-content .swiper-button-prev {
    left: -0.5%;
    top: 50%;
    animation: pulse2 1s infinite;
  }
}
@media screen and (min-width: 998px) {
  #es-rc #es-rc-content .es-kv__title {
    font-size: 20px;
  }
  #es-rc #es-rc-content .es-cross__numbers {
    -moz-column-gap: 50px;
    column-gap: 50px;
    justify-content: center;
  }
  #es-rc #es-rc-content .es-cross__wrapper {
    margin-right: -15px;
  }
}
@keyframes zoom {
  0% {
    scale: 1;
  }
  100% {
    scale: 1.2;
  }
}
@keyframes pulse {
  0% {
    transform: scale(1);
  }
  60% {
    transform: scale(1.4);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes pulse2 {
  0% {
    transform: scale(1);
  }
  60% {
    transform: scale(1.05);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes slidedown {
  from {
    opacity: 0;
    transform: translateY(-32px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
@keyframes slideright {
  from {
    opacity: 0.3;
    transform: translateX(-100px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}
@keyframes slideleft {
  from {
    opacity: 0.3;
    transform: translateX(100px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}/*# sourceMappingURL=styles.css.map */